<phpunit bootstrap="./phpunit.php">
    <testsuites>
        <testsuite>
            <directory>./src/Kernel/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_LOG" value="errorlog"/>
    </php>

    <logging>
        <!--<log type="coverage-xml" target="build/logs/coverage/xml"/>-->
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Kernel/Tests</directory>
                <file>src/Kernel/Domain/Contract/SingletonTrait.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>